body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

figcaption {
    font-size: 1vw;
}

.sessao{
    margin: 2vw;
    background-color: #414141;
}

.cont-sessao {
    padding: 2vw;
}

.sec-nomes {
    text-align: center;
    background-color: #9e4a4a;
    margin: 0;
    padding: 0.5vw;
    font-size: 2vw;
}

.ter-nomes {
    font-size: 1.5vw;
}

.container {
    background-color: #292929;
    margin: 0 20vw 0 20vw;
    padding: 1vw;
}

.texto {
    font-size: 1vw;
    text-align: justify;
}

header {
    display: flex;
    padding: 10px;
}

#fotoperfil {
    width: 15vw;
    height: 35vh;
}

#nome {
    font-size: 2.5vw;
}

#links {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    font-size: 1vw;
    gap: 10px;
}

.link-item {
    background-color: #b7bdc5;
    margin: 10px; 
    padding: 15px;
}

.lista-item {
    background-color: #292929;
    text-align: center;
    border-radius: 10px;
}

.titulo-item {
    border-radius: 10px 10px 0 0;
    padding: 0.5vw;
    font-size: 1.5vw;
    background-color: #9e4a4a;
}

.imagem-item {
    height: 28vh;
}

.item {
    display: flex;
    padding-right: 2vw;
}

.item-projet {
    padding: 0 1vw 3vh 1vw;
}

form {
    padding: 1vh 4vw 4vh 4vw;
    background-color: #9e9e9e;
    font-size: 1.2vw;
    border-radius: 5vw;
}

input {
    font-size: 1vw;
    border: none;
}