body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
    background-image: url(../img/fundo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #E8EDFF;
}

.container {
    background: #07070D;
    background: linear-gradient(170deg, rgba(7, 7, 13, 1) 0%, rgba(40, 56, 116, 1) 50%, rgba(7, 7, 13, 1) 100%);
    margin: 0 300px 0 300px;
    padding: 20px;
}

/* Header */

header {
    display: flex;
    padding: 20px;
}

#fotoperfil {
    max-width: 300px;
    min-width: 50px;
    border-radius: 15px;
}

#info {
    margin-left: 30px;
}

#nome {
    font-size: 40px;
}

#links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* Sessões */

.sec-nomes {
    text-align: center;
    background-color: #283874;
    margin: 0;
    padding: 15px;
    font-size: 40px;
}

.sessao {
    padding: 40px;
    margin-bottom: 30px;
    background-color: #07070D;
}

.texto {
    font-size: 20px;
    text-align: justify;
}

.ter-nomes {
    font-size: 30px;
}

ul {
    list-style: none;
} 

.lista-item {
    background-color: #150f2c;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(52, 79, 134, 0.25);
}

.titulo-item {
    border-radius: 10px 10px 0 0;
    padding: 0.5vw;
    font-size: 30px;
    background-color: #344686;
}

.item {
    display: flex;
    padding-right: 40px;
}

.imagem-item {
    min-height: 150px;
    max-height: 100px;
    border-radius: 15px;
}

figcaption {
    font-size: 20px;
}

.item-projet {
    padding: 0 25px;
}

.box{
    max-width: 4000px;
    min-width: 150px;
    max-height: 4000px;
    min-height: 40px;
    background-color: #344686;
    border-style: none;
    border-radius: 10px;
    color: #ebe6fa;
    margin: 15px 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.box:hover{
    background-color: #a6b3ff;
    color: #07070D;
    transform: scale(1.05);
}

/* Tabela */

table {
    margin: auto;
    border-radius: 15px;
    border: 2px solid #344686;
    width: 80%;
    text-align: center;
    background-color: #150f2c;
    font-size: 20px;
    overflow: hidden; 
    border-collapse: separate; 
    border-spacing: 0;
}

thead {
    border: 0.3vw solid black;
    background-color: #344686;
    font-size: 22px;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #344686;
}

/* Formulário */

form {
    margin: 20px;
    padding: 40px;
    background-color: #150f2c;
    font-size: 25px;
    border-radius: 10px;
}

label {
    padding-bottom: 100px;
}

.input {
    color: #E8EDFF;
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: #07070D;
    margin-bottom: 20px;
}

/* Footer */

.mini-img {
    width: 20px;
    border-radius: 50px;
}


@media (max-width: 1250px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .item {
        flex-direction: column;
        padding: 0 35px;
    }

    #info {
        margin: 0;
    }
}
