/* Partes Brutas HTML */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
    background-image: url(../img/fundo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #E8EDFF;
}

header {
    display: flex;
    padding: 10px;
}

form {
    margin: 2vw;
    padding: 3vw;
    background-color: #150f2c;
    font-size: 1.2vw;
    border-radius: 10px;
}

figcaption {
    font-size: 1vw;
}

table {
    margin: auto;
    border-radius: 15px;
    border: 2px solid #344686;
    width: 90%;
    text-align: center;
    background-color: #150f2c;
    font-size: 1vw;
    overflow: hidden; 
    border-collapse: separate; 
    border-spacing: 0;
}

thead {
    border: 0.3vw solid black;
    background-color: #344686;
    font-size: 1.5vw;
}

th, td {
    padding: 0.5vw;
    border-bottom: 1px solid #344686;
}

footer {
    font-size: 1vw;
}

ul {
    list-style: none;
}

/* IDs */

#fotoperfil {
    width: 14vw;
    border-radius: 15px;
}

#nome {
    font-size: 2.5vw;
}

#links {
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    gap: 10px;
}

/* Classes */

/*  - Containers - */
    .container {
        background: #07070D;
        background: linear-gradient(170deg, rgba(7, 7, 13, 1) 0%, rgba(40, 56, 116, 1) 50%, rgba(7, 7, 13, 1) 100%);
        margin: 0 20vw 0 20vw;
        padding: 1vw;
    }
    
    .sessao{
        margin: 2vw;
        background-color: #07070D;
    }

    .cont-sessao {
        padding: 2vw;
    }

/*  - Titulos - */
    .sec-nomes {
        text-align: center;
        background-color: #283874;
        margin: 0;
        padding: 0.5vw;
        font-size: 2vw;
    }

    .ter-nomes {
        font-size: 1.5vw;
    }

/* - Botão - */
    .box{
        width: 7vw;
        height: 5vh;
        background-color: #344686;
        border-style: none;
        border-radius: 10px;
        color: #ebe6fa;
        cursor: pointer;
    }

    .box:hover{
        background-color: #a6b3ff;        
    }

    .box-perf {
        width: 300px;
        height: 5vh;
        padding: 0 1vw 0 1vw;
        background-color: #344686;
        border-style: none;
        border-radius: 10px;
        color: #ebe6fa;
        cursor: pointer;
    }

    .box-perf:hover{
        background-color: #a6b3ff;
    }
/* - Parágrafos - */
    .texto {
        font-size: 1vw;
        text-align: justify;
    }

/* - Links - */

    .link-item {
        margin: 5px;
        font-size: 1vw;
        text-align: center;
    }

/* - Lista - */
    .lista-item {
        background-color: #150f2c;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .titulo-item {
        border-radius: 10px 10px 0 0;
        padding: 0.5vw;
        font-size: 1.5vw;
        background-color: #344686;
    }

    .imagem-item {
        height: 25vh;
        border-radius: 15px;
    }

    .item {
        display: flex;
        padding-right: 2vw;
    }

    .item-projet {
        padding: 0 1vw 3vh 1vw;
    }

/* - Inputs - */
    .input {
        color: #fff;
        font-size: 1vw;
        border: none;
        background-color: #07070D;
    }

/* - Footer imagens - */
    .mini-img {
        width: 1vw;
        border-radius: 50px;
    }
