/* Partes Brutas HTML */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
    background-image: url(../img/fundo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

header {
    display: flex;
    padding: 10px;
}

form {
    margin: 2vw;
    padding: 3vw;
    background-color: #9e9e9e;
    font-size: 1.2vw;
    border-radius: 10px;
}

figcaption {
    font-size: 1vw;
}

table {
    margin: 0 auto 0 auto;
    border-collapse: collapse;
    border:solid black;
    width: 90%;
    text-align: center;
    background-color: #292929;
    font-size: 1vw;
}

thead {
    border: 0.3vw solid black;
    background-color: #9e4a4a;
    font-size: 1.5vw;
}

th, td {
    padding: 0.5vw;
}

footer {
    font-size: 1vw;
}

/* IDs */

#fotoperfil {
    width: 15vw;
    height: 35vh;
}

#nome {
    font-size: 2.5vw;
}

#links {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    gap: 10px;
}

/* Classes */

/*  - Containers - */
    .container {
        background-color: #292929;
        margin: 0 20vw 0 20vw;
        padding: 1vw;
    }

    .sessao{
        margin: 2vw;
        background-color: #414141;
    }

    .cont-sessao {
        padding: 2vw;
    }

/*  - Titulos - */
    .sec-nomes {
        text-align: center;
        background-color: #9e4a4a;
        margin: 0;
        padding: 0.5vw;
        font-size: 2vw;
    }

    .ter-nomes {
        font-size: 1.5vw;
    }

/* - Botão - */
    .box{
        width: 7vw;
        height: 5vh;
        background-color: #684949;
        border-style: none;
        cursor: pointer;
    }

    .box:hover{
        background-color: #9e4a4a;
    }

/* - Parágrafos - */
    .texto {
        font-size: 1vw;
        text-align: justify;
    }

/* - Links - */

    .link-item {
        margin: 5px;
        font-size: 1vw;
        text-align: center;
    }

/* - Lista - */
    .lista-item {
        background-color: #292929;
        text-align: center;
        border-radius: 10px;
    }

    .titulo-item {
        border-radius: 10px 10px 0 0;
        padding: 0.5vw;
        font-size: 1.5vw;
        background-color: #9e4a4a;
    }

    .imagem-item {
        height: 25vh;
    }

    .item {
        display: flex;
        padding-right: 2vw;
    }

    .item-projet {
        padding: 0 1vw 3vh 1vw;
    }

/* - Inputs - */
    .input {
        font-size: 1vw;
        border: none;
    }

/* - Footer imagens - */
    .mini-img {
        width: 1vw;
        border-radius: 50px;
    }
